<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.views">
      <view
            name="Analysis Assistant"
            icon="icons/sample.gif"
            category="org.eclipse.jdt.ui.java"
            class="cassiopeia.plugin.views.AnalysisView"
            id="cassiopeia.plugin.views.analysisview">
      </view>
   </extension>
   
   <extension point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   
   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="cassiopeia.plugin.category.wizards"
            name="SCJ Development">
      </category>
      <wizard
            category="cassiopeia.plugin.category.wizards"
            class="cassiopeia.plugin.wizards.SCJProjectNewWizard"
            id="cassiopeia.plugin.wizards.SCJProjectNewWizard"
            name="Project">
      </wizard>
      <wizard
            category="cassiopeia.plugin.category.wizards"
            class="cassiopeia.plugin.wizards.SCJSafeletNewWizard"
            id="cassiopeia.plugin.wizards.SCJSafeletNewWizard"
            name="Safelet">
      </wizard>
   </extension>

</plugin>
